<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">
    <script src="../js/bootstrap/js/bootstrap-table.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap-table.min.css">

    <script type="text/javascript" src="../vue/vue.min.js"></script>
    <script type="text/javascript" src="../bootstraps/bootstrap-paginator.js"></script>
</head>
<body>
    <div id="app" >
        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" onclick="xiu();"><i class="fa fa-file-o"></i> 新建</button>
        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
        <table class="table table-bordered" v-cloak>
            <tr>
                <th>id</th>
                <th>名称</th>
                <th>部门</th>
                <th>入职日期</th>
                <th>岗位</th>
                <th>职责</th>
                <th>操作</th>
            </tr>
            <tr v-for="user in userList">
                <td>{{user.userId}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.bm}}</td>
                <td>{{user.userData}}</td>
                <td>{{user.userGw}}</td>
                <td>{{user.userZhz}}</td>
                <td>
                    <a class="btn btn-default" data-toggle="modal" data-target="#editModal" @click="xiu(user.userId)">编辑</a> |
                    <a class="btn btn-default" @click="shan(user.userId)">删除</a>
                </td>
            </tr>
        </table>
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">新增商品</h3>
                    </div>
                    <form id="forms" method="post">
                        <table class="table table-bordered table-striped"  width="800px">
                            <input class="form-control" name="userId" style="display:none" readonly="readonly" v-model="list.userId">
                            <tr>
                                <td>名称</td>
                                <td><input class="form-control" type="text" name="userName" placeholder="名称" v-model="list.userName"></td>
                            </tr>
                            <tr>
                                <td>部门</td>
                                <td>
                                    <input type="radio" name="userDrup" value="1" v-model="list.userDrup"/>开发部
                                    <input type="radio" name="userDrup" value="2" v-model="list.userDrup"/>项目部
                                    <input type="radio" name="userDrup" value="3" v-model="list.userDrup"/>销售部
                                </td>
                            </tr>
                            <tr>
                                <td>入职日期</td>
                                <td>
                                    <input class="form-control" type="Date" name="userData" placeholder="入职日期" v-model="list.userData">
                                </td>
                            </tr>
                            <tr>
                                <td>岗位</td>
                                <td>
                                    <input class="form-control" type="text" name="userGw" placeholder="岗位" v-model="list.userGw">
                                </td>
                            </tr>
                            <tr>
                                <td>职责</td>
                                <td>
                                    <input class="form-control" type="text" name="userZhz" placeholder="职责" v-model="list.userZhz">
                                </td>
                            </tr>
                        </table>
                        <div class="modal-footer">
                            <button class="btn btn-default" onclick="insert()">保存</button>
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                userList: "",
                list: ""
            }
        })
        //查询
        $(function(){
            chaxun();
        })
        function chaxun() {
            $.ajax({
                type:"post",
                url:"/findListOne",
                dataType:"json",
                success: function(data) {
                    vm.userList = data;
                },
                error : function() {
                    alert("系统错误，请联系管理员！");
                }
            })
        }

        //删除
        function shan(id){
            $.ajax({
                url:"/deleteUser",
                type:"post",
                data:{userId:id},
                success: function(){
                    alert("删除成功!!");
                    chaxun();
                }
            })
        }
        //新增
        function insert(){
            $.ajax({
                url:"/insertUser",
                type:"post",
                data:$('#forms').serialize(),
                success: function(){
                    alert("新增成功")
                    chaxun();
                },
                error(){
                    alert(222);
                }
            });
        }
        //回显
        function xiu(id){
            if(id!=null && id!=''){
                $.ajax({
                    url:"/huixianOne",
                    data:{userId:id},
                    type:"post",
                    dataType:"json",
                    success:function(data){
                        vm.list = data;
                    }
                })
            }
        }
    </script>
</body>
</html>